
:root {
    // --rct-color-tree-bg: #F6F8FA;
    // --rct-color-tree-focus-outline: #d60303;
    // --rct-color-focustree-item-selected-bg: #e2d3d3;
    // --rct-color-focustree-item-focused-border: #d60303;
    // --rct-color-focustree-item-draggingover-bg: #ecdede;
    // --rct-color-focustree-item-draggingover-color: inherit;
    // --rct-color-search-highlight-bg: #7821e2;
    // --rct-color-drag-between-line-bg: #cf03d6;
    // --rct-color-arrow: #b48689;
    --rct-item-height: 45px;
    --rct-color-arrow: #b48689;
}

.code-height {
    --rct-item-height: 50px;
}

.desc {
    font-size: 12px;
    color:rgb(104, 95, 191);
}

// .rct-tree-drag-between-line {
//   position: absolute;
//   right: 0;
//   top: -2px;
//   height: 4px;
//   background-color: var(--rct-color-drag-between-line-bg);
// }
// .code-height rct-item-height{
//    : 50px
// }
// li {
//     //   position :relative;
//       border-left: 1px solid #eb1212;
// }
//     li::before {
//     //   position: relative;
//     //   top: -4px;
//       width: 15px;
//       border-bottom: 1px solid #000;
//       content: '';
//     //   display: inline-block;
//     }

//     li:last-child {
//         height: 1px;
//     }
    
