.logo {
    display: block;
    width: 90px;
    height: auto;
    margin-right: 12px;
    filter: brightness(1.1);
}
.imgSpanLogo {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.noAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width:100%;
    height:400px;
    font-size: 15px;
    font-weight: bold;
}