
.tabPage {
    .ant-page-header {
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        padding-block-end: 4px;

        .ant-page-header-footer {
            margin-block-start: 0;

            .ant-tabs-nav {
                margin-bottom: 0;

                .ant-tabs-nav-list {
                    margin-left: 20px;
                }
            }
        }
    }

    .ant-pro-page-container-children-content {
        padding-inline: 10px;
    }
}
.breadcrumb {
    .ant-page-header {
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        padding-block-end: 4px;

        .ant-breadcrumb {
            line-height: 36px;
            padding-left: 20px;
        }

        .ant-page-header-footer {
            margin-block-start: 0;

            .ant-tabs-nav {
                margin-bottom: 0;
            }
        }
    }

    .ant-pro-page-container-children-content {
        padding-inline: 10px;
    }
}

.ant-pro-page-container-children-container {
    padding-block: 8px;
    padding-inline: 10px;
}

.ant-select {
  .ant-select-item-option-selected {
    background-color: var(--ant-primary-color) !important;
    color: var(--ant-select-item-selected-color, #ffffff) !important;
  }
  
  .ant-select-item-option:hover {
    background-color: var(--ant-select-item-hover-bg, rgba(24, 144, 255, 0.8)) !important;
  }
}

.ant-select-dropdown {
  .ant-select-item-option-selected {
    background-color: var(--ant-primary-color) !important;
    color: var(--ant-select-item-selected-color, #ffffff) !important;
  }
  
  .ant-select-item-option:hover {
    background-color: var(--ant-select-item-hover-bg, rgba(24, 144, 255, 0.8)) !important;
  }
}

.ant-dropdown-menu-item {
  color: var(--ant-primary-color) !important;

  &:hover {
    background-color: var(--ant-primary-color) !important;
    color: white !important;
  }
}

.ant-segmented .ant-segmented-item-selected  {
  background-color: var(--ant-primary-color) !important;
  color: white !important;
}

// 白昼模式下左侧菜单样式
[data-theme="light"] {
  // 应用主题颜色到左侧菜单
  .ant-menu {
    .ant-menu-item-selected {
      background-color:  var(--ant-primary-color) !important;
      color: #ffffff !important;
    }
    
    .ant-menu-item-active {
      background-color: var(--ant-menu-item-active-bg, var(--ant-primary-color)) !important;
    }
    
    .ant-menu-item-group-title {
      color: rgba(0, 0, 0, 0.65) !important;
    }
  }

  .ant-tree {
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    color: white !important;
  }

  .ant-tree-treenode {
    background: transparent !important;
    color: rgba(0, 0, 0, 0.65) !important;
  }

  .ant-tree-node-content-wrapper {
    background: transparent !important;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.65) !important;
  }

  .ant-tree-node-content-wrapper:hover {
    background: var(--ant-btn-primary-hover-bg, rgba(24, 144, 255, 0.1)) !important;
    color: white !important;
  }

  .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background: var(--ant-tree-node-selected-bg, rgba(24, 144, 255, 0.2)) !important;
    color: var(--ant-tree-node-selected-color, white) !important;
  }
}
